&pwm1 {
	pinctrl-0 = <&pwm1m0_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&{/} {
	fan: pwm-fan {
		compatible = "pwm-fan";
		pwms = <&pwm1 0 50000 0>;
		cooling-levels = <0 32 64 96 128 160 192 224 255>;
		#cooling-cells = <2>;
	};
};
